.container{
        margin-top: 32px;
        width: 600px;
        margin: 0 auto;
        display: grid;
        place-items: center;
        margin-top: 5rem;
        background: lightgray;
        padding: 3rem 5rem;
        border-radius: 10px;
    & .minutes{
        width: 50%;
        padding: 10px;
        border-radius: 6px;
        border: 1px;
        
    }
    & .minutes.hide{
        visibility: hidden;
    }
    & .timer{
        & .runtimer{
            text-align: center;
            span{
                font-size: 8rem;
                margin-bottom: 1rem;
                color: black;
            }
        }
        & .button-actions{
            margin-top: 32px;
            text-align: center;
            button{
                padding: 0.8rem 2rem;
                border: none;
                margin-left: 0.2rem;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
            }

            .start {
                background: #3ed927;
                color: white;
            }

            .pause {
                background: #e4e446;
            }

            .reset {
                background: #fd7171;
                color: white;
            }
        }
    }
}